/* @font-face {
  font-family: 'seven-segment';
  src: url('./Seven\ Segment.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
} */



html {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    background-color: rgb(61, 36, 22);
}

.container {
    position: absolute;
    top: 25vh;
    left: 40vw;

    border: 2px solid black;
    border-radius: 10px;
    background-color: hsl(155, 53%, 32%);
    width: 205px;
    padding: 1em;
    text-align: center;
    /*box-shadow: [inset] [h-offset] [v-offset] [blur-radius] [spread-radius] [color]; */
    box-shadow: 0 10px 2px 2px black;
}

.display {
    font: 1.8em "Seven Segment", sans-serif;
    text-shadow: 0 0 5px white;
    padding: 0.5em;
    text-align: right;
    box-shadow: inset -1px 3px 2px 2px rgb(12, 57, 153);
    height: 50px;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(0, 140, 255);
    color: white;
}
.glowbox {
    box-shadow: 0 0 15px 2px rgb(84, 84, 245);
}

.keys {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
}

.nums {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    width: 120px;
    flex: none;
}

.operators {
    display: flex;
    flex-direction: column;
}

button{
    box-shadow: 0 3px 2px 2px black;
    border-radius: 5px;
    flex: none;
    width: 40px;
    height: 40px;
    background-color: rgb(41, 38, 38);
    color: white;
}

.util-keys {
    display: flex;
    margin: 0.2em 0;
    justify-content: space-between;
    align-items: center;
}
.util-keys p {
    color: rgb(255, 255, 255);
    margin: 0;
}
.util-keys button{
    height: 20px;
}